@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Merriweather:wght@300&display=swap');

body{
    background-color: rgb(233, 159, 69);
    color: rgb(52, 50, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 80px;
    font-family: 'Cormorant SC', serif;
}

p {
    font-size: 20px;
}

button {
    font-family: 'Merriweather', serif;
}

.submit-btn {
    font-family: 'Merriweather', serif;
    padding: 10px;
}

.url-input {
    font-family: 'Merriweather', serif;
    padding: 10px;
    width: 20rem;
}

.type-input {
    font-family: 'Merriweather', serif;
    padding: 10px;
}


#copy-btn {
    margin-left: 1rem;
}
