{% extends "layout.html" %}

{% block content %}
    <form id ="shorten-form" action="/shorten" method="POST">
        <input id="url" name="url" type="text" placeholder="Enter URL">
        <select name="url-type" id="urlType">
            <option value="ltl-url">ltl-url</option>
            <!-- <option value="">shorten URl + Word</option> -->
            <option value="4Letters">4 Letters</option>
            <!-- <option value="">Num + Noun</option> -->
            <!-- <option value="">Adj + Noun</option> -->
            <option value="sillySentence">Silly Sentence</option>
            <!-- <option value"">Make Your Own!</option> -->
        </select>
        <input id="shorten-submit" type="submit" value="Submit">
        <p>e.g.</p>
        <p id="example-url">https://ltl-url.herokuapp.com/ltl-url</p>
    </form>


    <script src="{{ url_for('static', filename='/js/shorten.js') }}"></script>
{% endblock %}
